{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Aparo Cecilia</title>
  <meta name="keywords" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.">
  <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.">

  <link rel="stylesheet" href="{% static 'fonts/flat-icon/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  
  
  
  
  <!-- <link rel="stylesheet" href="{% static '/fonts/flat-icon/flatic' %}on.css">
  <link rel="stylesheet" href="{% static '/bootstrap/css/bootstra' %}p.min.css">
  <link rel="stylesheet" href="css/styles.css"> -->
</head>
<body>
<div id="content-wrapper">
  <header class="header header--bg">
    <div class="container">
      <nav class="navbar">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="#">MY PORTFOLIO</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">SKILL</a></li> 
            <li><a href="#">PORTFOLIO</a></li> 
            <li><a href="#">ACHIEVEMENTS</a></li> 
            <li><a href="#">PROJECTS</a></li> 
            <li><a href="#">TECH GROUPS</a></li> 
          </ul>
        </div>
      </nav>
      <div class="header__content text-center">
        <span class="header__content__block">HELLO</span>
        <h1 class="header__content__title">I'M APARO CECILIA</h1>
        <ul class="header__content__sub-title">
          <li>DATA ANALYST  <span class ="padding">&#45;</span></li>
          <li>WEB DEVELOPER <span class="padding">&#45;</span></li>
          <li>UI&#47;UX DESIGNER </span></li>
        </ul>
        <a class="header__button" href="#">HAVE PROJECT? LET'S TALK</a>
      </div>



      <div class="social-icon pull-right">
        <ul>
          <li><a href="https://www.linkedin.com/in/aparo-cecilia-8710bb254?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="linkedin"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://x.com/CecilHeavens"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://github.com/APAROCECILIA" class="github"><i class="fab fa-github"></i></a></li>
        </ul>
      </div>

    </div>
  </header>

  <section class="about">
    <div class="container about__container--narrow">
      <div class="page-section">
        <h2 class="page-section__title">ABOUT ME</h2>
        {% load static %}
        <img class="page-section__title-style" src="{% static 'images/title-style.png' %}" alt="">
      

        <p class="page-section__paragraph">
          I am a passionate tech enthusiast and a dedicated software engineer, currently in my fourth year at Makerere University. My journey in tech is fueled by an unwavering curiosity for trending technologies and a deep passion for software development and its evolving landscape.
          <br><br>
          I actively engage with modern frameworks, system development, and UI/UX design, striving to create impactful, user-centric technology solutions that drive innovation. I specialize in developing web and mobile applications, integrating scalable systems, exploring cloud computing, and incorporating DevOps practices.
          <br><br>
          Beyond technical skills, I thrive in collaborative environments, embracing peer engagement as a means of fostering growth and driving impactful projects. I am committed to making technology accessible and meaningful, while contributing to projects that leave a lasting impact.
      </p>
      


      <hr class="purple-line">

       
      
          <div class="row gutters-80">
            <div class="col-md-4">
              <div class="about__image">
                <img src="{% static 'images/soft.jpg' %}" alt="" style="margin-top: 100px;">

              </div>
            </div>
            <div class="col-md-8 about__content">
              <p class="about__description">I’m a passionate software engineer and tech enthusiast, 
                blending creativity with cutting-edge technology to build impactful, user-focused
                 solutions. Driven by innovation, I specialize in crafting web and mobile applications, 
                 exploring AI, and shaping the future of tech. Let’s create something extraordinary 
                 together!</p>
              <div class="row row--margin-top">
                <div class="col-md-4">
                  <p class="about__bio"><strong>NAME :</strong>APARO CECILIA</p>
                  <p class="about__bio"><strong>AGE :</strong> 23</p>
                </div>
                <div class="col-md-4">
                  <p class="about__bio"><strong>JOB TITLE :</strong> OPERATIONS OFFICER</p>
                  <p class="about__bio"><strong>LOCATION :</strong>KAMPALA, UG</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <!-- <a class="button button--colorful button--margin" href="https://drive.google.com/file/d/1kZ-3u_KTsjK1XDgHc-YdQ_QnVsSltLCI/view?usp=sharing" target="_blank">VIEW CV</a> -->
                      <a class="button button--colorful button--margin" href="https://drive.google.com/uc?export=download&id=1kZ-3u_KTsjK1XDgHc-YdQ_QnVsSltLCI" target="_blank">DOWNLOAD CV</a>

              </div>
              
                <div class="col-md-4">
                  <a class="button button--colorful button--margin" href="#">HIRE ME</a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>

  <section class="skill skill--bg">
    <div class="container skill__container--narrow">
      <div class="page-section">
        <h2 class="page-section__title page-section__title--white">MY SKILL</h2>
        <img class="page-section__title-style" src="{% static 'images/title-style-white.png' %}" alt="">
        <p class="page-section__paragraph page-section__paragraph--white">I am a versatile tech
           enthusiast with expertise in UI/UX design using Figma, web development in Django, and
            graphics design powered by AI tools. My skills extend to data visualization and analysis 
            with Jupyter, Power BI, and Excel, enabling me to craft seamless, data-driven, and visually 
            compelling solutions. </p>
        <div class="row gutters-60">
          <div class="col-md-4">
            <div class="thumbnail text-center">
              <img src="{% static '/images/adobe-photoshop.png' %}" alt="">
              <h4 class="skill__single-part__title">WEB DEVELOPMENT</h4>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:80%;background-color: #7FB7FA;">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail text-center">
              <img src="{% static '/images/adobe-illustrator.png' %}" alt="">
              <h4 class="skill__single-part__title">DATA ANALYSIS</h4>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:80%;background-color: #FFAC1B;;">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail text-center">
              <img src="{% static '/images/adobe-after-effects.png' %}" alt="">
              <h4 class="skill__single-part__title">UI/UX DESIGNING</h4>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:80%;background-color: #C99AFF;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="service">
    <div class="container">
      <div class="page-section">
        <h2 class="page-section__title">MY SERVICES</h2>
        <img class="page-section__title-style" src="{% static '/images/title-style.png' %} " alt="">
        <p class="page-section__paragraph">From crafting intuitive UI/UX designs and developing dynamic
           Django-powered web applications to delivering insightful data visualizations, my services are 
           tailored to turn ideas into impactful solutions. Let’s bring your vision to life! </p>
        <div class="row gutters-70">
          <div class="col-md-4">
            <div class="thumbnail text-center">
              <img src="{% static '/images/logo-design.png' %} " alt="">
              <h4 class="service__single-section__title">DATA ANALYSIS</h4>
              <p class="service__single-section__paragraph">I specialize in transforming raw data into actionable insights using tools like Jupyter Notebook, Google Colab, Power BI, and Excel. Whether it's visualizing trends or analyzing complex datasets, I deliver solutions that drive informed decision-making. </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail text-center">
              <img src="{% static '/images/website-design.png' %}" alt="">
              <h4 class="service__single-section__title">WEBSITE DESIGN</h4>
              <p class="service__single-section__paragraph">I create user-friendly websites tailored to your needs. From sleek designs in WordPress to custom web applications, I ensure your online presence stands out and performs seamlessly, providing excellent functionality and an engaging user experience that drives results. </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail text-center">
              <img src="{% static '/images/support.png' %}" alt="">
              <h4 class="service__single-section__title">TECHNICAL SUPPORT</h4>
              <p class="service__single-section__paragraph">I can as well provide ICT technical support services, I offer a wide range of services, including hardware and software troubleshooting,system updates, user training and ensuring optimal IT infrastructure performance. Your tech issues, solved efficiently </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="portfolio">
    <div class="container">
      <div class="page-section">
        <h2 class="page-section__title">MY PORTFOLIO</h2> 
        <img class="page-section__title-style" src="{% static '/images/title-style.png' %}" alt="">
        <p class="page-section__paragraph">My journey is enriched by attending various tech events,
           workshops, and conferences, where I’ve gained valuable knowledge and hands-on experience. 
           These experiences have shaped my skills in web development, data analysis, and UI/UX design, 
           fueling my passion for continuous learning and innovation.</p>
        <div class="portfolio__button-group">
          <a class="button button--default" data-filter="all" href="#">ALL</a>
          <a class="button button--default" data-filter=".category-a" href="#">DEVELOPMENT</a>
          <a class="button button--default" data-filter=".category-b" href="#">DESIGN</a>
          <a class="button button--default" data-filter=".category-c" href="#">HTML</a>
          <a class="button button--default" data-filter=".category-d" href="#">JAVA</a>
        </div>
        <div class="row gutters-40">
          <div class="col-md-4">
            <div class="portfolio__single-section mix category-a category-b category-c" data-order="1">
              <img class="portfolio__single-section__image img-responsive" src="{% static '/images/portfolio-1.png' %}" alt="">
              <div class="portfolio__single-section__overlay">
                <div class="overlay-content">
                  <h4>LOGO DESIGN</h4>
                  <p>Designer</p>
                </div>
                <div class="portfolio__single-section__search-icon">
                  <a href="#"><img src="{% static '/images/search-icon.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio__single-section mix category-a category-c" data-order="2">
              <img class="portfolio__single-section__image img-responsive" src="{%static '/images/portfolio-2.png' %}" alt="">
              <div class="portfolio__single-section__overlay">
                <div class="overlay-content">
                  <h4>WEBSITE DESIGN</h4>
                  <p>Designer</p>
                </div>
                <div class="portfolio__single-section__search-icon">
                  <a href="#"><img src="{% static '/images/search-icon.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio__single-section mix category-c" data-order="3">
              <img class="portfolio__single-section__image img-responsive" src="{% static '/images/portfolio-3.png' %}" alt="">
              <div class="portfolio__single-section__overlay">
                <div class="overlay-content">
                  <h4>LOGO DESIGN</h4>
                  <p>Designer</p>
                </div>
                <div class="portfolio__single-section__search-icon">
                  <a href="#"><img src="{% static '/images/search-icon.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row gutters-40">
          <div class="col-md-4">
            <div class="portfolio__single-section mix category-b category-d" data-order="4">
              <img class="portfolio__single-section__image img-responsive" src="{% static '/images/portfolio-4.png' %}" alt="">
              <div class="portfolio__single-section__overlay">
                <div class="overlay-content">
                  <h4>PHOTOGRAPHY</h4>
                  <p>photographer</p>
                </div>
                <div class="portfolio__single-section__search-icon">
                  <a href="#"><img src="{% static '/images/search-icon.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio__single-section mix category-b category-d" data-order="5">
              <img class="portfolio__single-section__image img-responsive" src="{% static '/images/portfolio-5.png' %}" alt="">
              <div class="portfolio__single-section__overlay">
                <div class="overlay-content">
                  <h4>WEBSITE DESIGN</h4>
                  <p>Designer</p>
                </div>
                <div class="portfolio__single-section__search-icon">
                  <a href="#"><img src="{% static '/images/search-icon.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio__single-section mix category-d" data-order="6">
              <img class="portfolio__single-section__image img-responsive" src="{% static '/images/portfolio-6.png' %}" alt="">
              <div class="portfolio__single-section__overlay">
                <div class="overlay-content">
                  <h4>LOGO DESIGN</h4>
                  <p>Designer</p>
                </div>
                <div class="portfolio__single-section__search-icon">
                  <a href="#"><img src="{% static '/images/search-icon.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="slider slider--bg">
    <div class ="container">
      <div class = "page-section">
    <h2 class="page-section__title">MY ACHIEVEMENTS</h2>
    <img class="page-section__title-style" src="{% static 'images/title-style-white.png' %}" alt="">
    <div id="myCarousel" class="carousel container slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <div class="carousel-content">
            <div class="">
              <div class="text-center">
                <img class="carousel-person-image" src="{% static '/images/therapp.jpeg' %}" alt="">
                <h4> TherApp</h4>
                <h6>Innovating Mental Wellness with AI</h6>
                <p> I had the privilege of being part of a talented team that won a recent hackathon 
                  with our groundbreaking mental wellness application. By integrating an AI model, we
                   developed a multilingual assistant, supporting English, Luganda, and Acholi, to offer
                    accessible mental health support. Our innovative solution helps break language 
                  barriers, making personalized mental wellness assistance available to a broader 
                  audience. </p>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="carousel-content">
            <div class="">
              <div class="text-center">
                <img class="carousel-person-image" src="{% static '/images/fintech.jpeg' %}" alt="">
                <h4>Opportune</h4>
                <h6>Building Innovative Solutions for Financial Connectivity</h6>
                <p>As part of an incredible team at the Women in FinTech Hackathon, we learned how to 
                  build an MVP in sprints while developing a platform that connects employers to 
                  employees. We integrated the Mojaloop money transaction module, enabling seamless 
                  financial transactions. Our solution also empowers entrepreneurs to showcase their
                   products and skills, providing a bridge to the target market and promoting financial 
                   inclusion </p>
              </div>
              </div>


              <div class="">
                <div class="text-center">
                  <img class="carousel-person-image" src="{% static '/images/WIF.jpg' %}" alt="">
                  <h4>Women InFintech</h4>
                  <h6>Building Innovative Solutions for Financial Connectivity</h6>
                  <p>As part of an incredible team at the Women in FinTech Hackathon, we learned how to 
                    build an MVP in sprints while developing a platform that connects employers to 
                    employees. We integrated the Mojaloop money transaction module, enabling seamless 
                    financial transactions. Our solution also empowers entrepreneurs to showcase their
                     products and skills, providing a bridge to the target market and promoting financial 
                     inclusion </p>
                </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="carousel-content">
            <div class="">
              <div class="text-center">
                <img class="carousel-person-image" src="{% static '/images/WEEP.jpeg' %}" alt="">
                <h4> IDEATION CORNER-AI WEEP 2024</h4>
                <h6>Certificate of Completion</h6>
                <p>At Ideation Corner, I learned how AI can revolutionize entrepreneurship by automating
                   processes, personalizing services, optimizing operations and driving innovation 
                   across various business functions. The training spanned a period of 8 weeks </p>
                <div class="rating">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>

<section class="team">
    <div class="container">
      <div class="page-section">
        <div class="row g-3">
        <h2 class="page-section__title">PROJECTS</h2>
        <img class="page-section__title-style" src="{% static '/images/title-style.png' %}" alt="">
        <p class="page-section__paragraph">Throughout my career, I have had the opportunity to work on 
          a diverse range of projects that showcase my skills and passion for problem-solving.
           From web development, design & marketing software solutions, I have consistently focused on delivering high-quality, user-centered 
           results. My projects often involve collaboration with cross-functional teams, an eye for 
           detail, and a commitment to meeting both client expectations and business goals.  </p>
        <div class="row gutters-80">
          <div class="col-md-6 col-lg-3">
            <div class="thumbnail">
              <img class="img-responsive" src="{% static '/images/ther.png' %}" alt="">
              <h4 class="team__single-section__name">TherApp</h4>
              <p class="team__single-section__title">Flutter Framework</p>

              <div class="team__overlay">
                <div class="team__overlay__content">
                  <div class="team__single-section--backPage">
                    <h4 style="padding-left: 0;" class="team__single-section__name">Mobile Application</h4>
                    <p style="padding-left: 0;" class="team__single-section__title">An application built to solve mental health issues among the young population</p>
                   
                    
                   
                    <hr style="border: 0;border-bottom: 1px solid #ECEFF1;display:block;padding-top: 45px;">
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="thumbnail">
              <img src="{% static '/images/oppo.png' %}" alt="">
              <h4 class="team__single-section__name">Opportune </h4>
              <p class="team__single-section__title">Django</p>
              <div class="team__overlay">
                <div class="team__overlay__content">
                  <div class="team__single-section--backPage">
                    <h4 style="padding-left: 0;" class="team__single-section__name">Website</h4>
                    <p style="padding-left: 0;" class="team__single-section__title"> A platform for entreprenuers to advertise their products and make it easier for funders to find right people who deserve funds for businesses plus narrowing the gap of unemployment</p>
                    
                    <hr style="border: 0;border-bottom: 1px solid #ECEFF1;display:block;padding-top: 45px;">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="thumbnail">
              <img src="{% static '/images/rescuemech.png' %}" alt="">
              <h4 class="team__single-section__name">Rescue Mech</h4>
              <p class="team__single-section__title">React</p>
              <div class="team__overlay">
                <div class="team__overlay__content">
                  <div class="team__single-section--backPage">
                    <h4 style="padding-left: 0;" class="team__single-section__name">Mobile Application</h4>
                    <p style="padding-left: 0;" class="team__single-section__title">An application built to help re-distribute agric products around the country through providing transport means to farmers at the list cost possible  </p>                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          <div class="col-md-6 col-lg-3">
            <div class="thumbnail">
              <img src="{% static '/images/asiika.png' %}" alt="">
              <h4 class="team__single-section__name">Asiika Obulamu</h4>
              <p class="team__single-section__title">Flutter</p>
              <div class="team__overlay">
                <div class="team__overlay__content">
                  <div class="team__single-section--backPage">
                    <h4 style="padding-left: 0;" class="team__single-section__name">Mobile Application</h4>
                    <p style="padding-left: 0;" class="team__single-section__title">An application meant to smoothen Medical operations through providing a platform for providing remote doctor appointments and mobile payments</p>                   
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
    </div>
    </body>
  </section>

  <section class="brand-logo brand-logo--bg">
    <div class="container">
      <div class="row">
        <div class="brand-logo__wrapper">
          <li><img class="img-responsive" src="{% static '/images/dj.jpg' %}" alt=""></li>
          <li><img class="img-responsive" src="{% static '/images/hcbj.png' %}" alt=""></li>
          <li><img class="img-responsive" src="{% static '/images/python.jpg' %}" alt=""></li>
          <li><img class="img-responsive" src="{% static '/images/jupyter.png' %}" alt=""></li>
          <li><img class="img-responsive" src="{% static '/images/figma.png' %}" alt=""></li>
        </div>
      </div>
    </div>
  </section>

  <section class="blog">
    <div class="container">
      <div class="page-section">
        <h2 class="page-section__title">TECH-GROUPS</h2>
        <img class="page-section__title-style" src="{% static '/images/title-style.png' %}" alt="">
        <p class="page-section__paragraph">I am actively involved in several tech communities that 
          promote learning, networking, and collaboration within the technology space. Each group 
          fosters unique opportunities to develop skills, connect with like-minded individuals and 
          contribute to impactful projects. </p>
        <div class="row gutters-40">
          <div class="col-md-4">
            <div class="thumbnail text-center">
              <img class="img-responsive" src="{% static '/images/PYLADIES.png' %}" alt="">
             
          
              <a href="#"><h4 class="blog__single__title">PYLADIES KAMPALA</h4></a>
              <p class="blog__single__paragraph">Pyladies is an international mentorship group focused on empowering women in the Python open-source community. Activities include coding workshops, hackathons, and social meetups aimed at skill-building and fostering inclusivity within Python programming. Members participate in outreach and support initiatives to increase diversity in tech </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail text-center">
              <img src="{% static '/images/PYCON.jpeg' %}" alt="">
            
              <a href="#"><h4 class="blog__single__title">PYCON UGANDA</h4></a>
              <p class="blog__single__paragraph"> Pycon Uganda organizes conferences and events dedicated to Python enthusiasts, offering workshops, panel discussions, and networking opportunities. These gatherings foster collaboration and knowledge-sharing among developers, academics, and industry experts passionate about Python </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail text-center">
              <img src="{% static '/images/GDSC.jpeg' %}" alt="">
             
              <a href="#"><h4 class="blog__single__title">GDSC MAKERERE</h4></a>
              <p class="blog__single__paragraph">  The Google Developer Student Club (GDSC) at Makerere University focus on peer-to-peer learning and building real-world solutions. Activities include coding sessions, hackathons, and projects to empower students with technical and leadership skills for solving community challenges. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer footer--bg">
    <div class="container text-center">
      <h1 class="footer__title">CECILIA</h1>
      <ul class="footer__contact-information">
        <li><a href="tel:5555555555"><i class="material-icons">phone</i> Hotline (+256) 776178913</a></li>
        <li><a href="mailto:sshariar458@gmail.com"><i class="material-icons">email</i> aparocecilia930@gmail.com</a></li>
        <li><a href="#"><i class="material-icons">location_on</i> Uganda-Kampala</a></li>
      </ul>
    </div>
    <hr style="border: 0;border-top: 1px solid #525B60;display:block;margin-top: 40px;">
    <div class="container text-center">
      <div class="social-icon">
        <ul>
          <li><a href="https://www.linkedin.com/in/aparo-cecilia-8710bb254?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="linkedin"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://x.com/CecilHeavens"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://github.com/APAROCECILIA" class="github"><i class="fab fa-github"></i></a></li>
        </ul>
      </div>
      <p class="footer__paragraph">Copyright &copy; 2024 AparoCecilia , All Rights Reserved.</p>
    </div>
  </footer>
</div>


<script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/mixitup.js' %}"></script>


  <script>
    $('a').click(function(e)
      {
        e.preventDefault();
      });

    // calling mixitup
    var mixer = mixitup(".portfolio");
  </script>
</body>
</html>  